@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

*{
    --slate-gray: #6f7986ff;
    --raisin-black: #191d2cff;
    --charcoal: #393e4aff;
    --eerie-black: #1c1e22ff;
    --raisin-black-2: #282b36ff;
}

img{
    width: 100vw;
    border: 5px solid var(--eerie-black);
}

body {
    background-color: var(--charcoal);
    display: flex;
    flex-direction: row;
    font-family: 'League Spartan', sans-serif;
}

header {
    font-size: larger;
}

main {
    font-size: x-large;
}

@media (max-width: 600px) {
    body{
        flex-direction: column;
    }
}